    <nav class="nav-left">
      <div class="departments">
        departments
      </div>
      <ul class="categories list-category arrow arrow-open">
        <li class="item all-categories">
          <div class="content">
            <p class="title">all categories</p>
            <p class="caption">ecommerce patterns</p>
          </div>
          <ul class="categories arrow arrow-open  ">
            <li class="item">
              <div class="content">
                <p class="title">all categories</p>
                <p class="caption">ecommerce patterns</p>
              </div>
              <ul class="categories arrow arrow-open  ">
                <li class="item">
                  <div class="content">
                    <p class="title">all categories</p>
                    <p class="caption">ecommerce patterns</p>
                  </div>
                </li>
                <li class="item">
                  <div class="content">
                    <p class="title">all categories</p>
                  </div>
                </li>
                <li class="item">
                  <div class="content">
                    <p class="title">all categories</p>
                  </div>
                </li>
                <li class="item show-more">
                  <div class="content">
                    <p class="title">all categories</p>
                  </div>
                </li>
              </ul>
            </li>
            <li class="item">
              <button class="btn arrow arrow-open">show more </button>
            </li>
          </ul>
        </li>
        <li class="item">
          <ul class="categories arrow arrow-open  ">
            <li class="item">
              <div class="content">
                <p class="title">all categories</p>
                <p class="caption">ecommerce patterns</p>
              </div>
              <ul class="categories arrow arrow-close  ">
                <li class="item">
                  <div class="content">
                    <p class="title">all categories</p>
                    <p class="caption">ecommerce patterns</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="item">
          <ul class="categories arrow arrow-open    ">
            <li class="item">
              <div class="content">
                <p class="title">all categories</p>
                <p class="caption">ecommerce patterns</p>
              </div>
              <ul class="categories arrow arrow-close  ">
                <li class="item">
                  <div class="content">
                    <p class="title">all categories</p>
                    <p class="caption">ecommerce patterns</p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="item">
          <button class="btn expand">Expand</button>
        </li>
      </ul>
  
  
  
      <div class="filters">
        <p class="title arrow collapsed arrow-open">Collapsed filters</p>
        <div class="options">
          <p class="title arrow arrow-open">Expanded Filters</p>
          <ul class="list">
            <li class="item">
              <input name="recommentded" type="checkbox" id="recommentded">
              <label for="recommentded">recommentded</label>
            </li>
            <li class="item">
              <input name="recentlyadded" type="checkbox" id="recentlyadded">
              <label for="recentlyadded">recently added</label>
            </li>
            <li class="item">
              <input name="expiringsoon" type="checkbox" id="expiringsoon">
              <label for="expiringsoon">expiring soon</label>
            </li>
  
          </ul>
        </div>
  
      </div>
  
    </nav>
