<header class="header-section">
  <nav class="nav-section">
    <div class="nav-sort">
      <div class="sort form-select">
        <label for="sort-by" class="form-label">sort by</label>
        <select name="sortBy" id="sort-by">
          <option value="price">Price</option>
          <option value="most_popular">Most Popular</option>
          <option value="">Useless first</option>
          <option value="">Useful first</option>
        </select>
      </div>
      <div class="form-select">
        <select
          name="sort-conditions"
          id="sort-conditions"
          class="sort-condition"
        >
          <option value="">Condition</option>
          <option value="asc">Asc</option>
          <option value="desc">Desc</option>
        </select>
      </div>
      <div class="form-select">
        <select name="sort-delivery" id="sort-delivery" class="sort-delivery">
          <option value="">Delivery options</option>
          <option value="asc">Viettel Post</option>
          <option value="desc">Tiki Now</option>
        </select>
      </div>
    </div>
    <div class="nav-pages">
      <div class="pages">
        <ul class="list">
          <li class="item">Show all</li>
          <li class="item">Auction</li>
          <li class="item activate">Buy now</li>
        </ul>
      </div>
      <div class="views">
        <ul class="list">
          <li class="view-list item activate" id="view-list">
            <i class="icon icon-view-list"></i>
          </li>
          <li class="item view-grip" id="view-grip">
            <i class="icon icon-view-grid"></i>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="related">
    <ul class="labels list">
      <li class="item">Related</li>
      <li *ngFor="let item of categories" class="item">
        <a [routerLink]="['/product/categorie/', item]">
        {{ item }}</a>
      </li>
    </ul>
  </div>
</header>
