<li class="product-item">
    <div class="product-item-info">
      <div class="product-photo-wrapper">
        <a href="" title="">
          <picture>
            <source />
            <img class="image" src="assets/images/products/Image.png" alt="" />
          </picture>  
        </a>
      </div>
      <div class="product-item-details">
        <div class="product-item-description">
          <h3 class="description">
            Lee Pucker design. Leather botinki for handsome designers. Free
            shipping.
          </h3>
        </div>
        <div class="product-item-price">
          <p class="product-price">
            <span class="currency">$</span><span class="money">49.50</span>
          </p>
          <p class="discount">50% OFF</p>
        </div>

        <div class="product-item-note">
          <p>shifting available Buyers protection possible!</p>
        </div>

        <div class="product-item-reviews">
          <div class="rating-stars">
            <ul class="star">
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star-half-alt"></i></li>
            </ul>
            <span class="point-number">4.9 </span>
          </div>
          <button class="watch">
            <i class="fas fa-heart"></i>
            <span>Watch</span>
          </button>
        </div>
      </div>
    </div>
</li>