<div class="product-item-info">
  <div class="product-photo-wrapper">
    <a href="" title="">
      <picture>
        <source />
        <img class="image" [src]="product.image" [alt]="product.title" />
      </picture>
    </a>
  </div>
  <div class="product-item-details">
    <div class="product-item-description">
      <h3 class="description">
        {{ product.title }}
      </h3>
    </div>
    <div class="product-item-price">
      <p class="product-price">
        <span class="currency">$</span
        ><span class="money">{{ product.price }}</span>
      </p>
      <p *ngIf="product.rating.rate >4" class="discount">50% OFF</p>
  
    </div>

    <div class="product-item-note">
      <p>{{ product.description }}</p>
    </div>

    <div class="product-item-reviews">
      <div class="rating-stars">
        <ul class="star">
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star-half-alt"></i></li>
        </ul>
        <span class="point-number">{{ product.rating.rate }}</span>
      </div>
      <button class="watch">
        <i class="fas fa-heart"></i>
        <span>Watch</span>
      </button>
    </div>
  </div>
</div>
