@import "../../assets/css/variables";
@import "../../assets/css/mixins";
@import "../../assets/css/functions";
@import "../../assets/css/icon";

.main-section {
  .products {
    @include resetList();
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .product-item {
      text-align: center;
      margin-bottom: 20px !important;
      margin: 0 auto;
      cursor: pointer;
      transition: all 0.6s;
      border-radius: 5px;
      width: 350px;
      &:hover {
        transform: scale(1.05);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
    }
  }
}
